/* id selector */
#id-demo {
  color: red;
}
/* universal selector */
* {
  /* text-align: center; */
}
/* class selector */
.personal-details {
  font-size: 20px;
  color: blue;
  border: 2px solid red;
  border-radius: 30px;
  background-color: aqua;
  margin: 100px;
  /* margin-top: 200px;
  margin-right: 20px;
  margin-bottom: 300px;
  margin-left: 50px; */
  margin: 20px 20px 20px 50px;
  /* opacity: 0.5; */
}
/* element selector */

p {
  text-align: center;
}

body {
  /* background-image: url("./images/flower.jpeg");  */
  background-repeat: no-repeat;
  /* background: url("./images/flower.jpeg") no-repeat; */
  background-size: cover;

  /* background-image: linear-gradient(red, yellow); */
  /* background-image: linear-gradient(
    to bottom right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  ); */
  background-image: linear-gradient(
    to right bottom,
    red 20%,
    blue 30%,
    green 50%
  );
}

.click-btn {
  padding: 10px;
  padding-left: top right bottom left;
}
.convert-to-uppercase {
  text-transform: capitalize;
  font-family: cursive;
}

.fruits {
  list-style-type: square;
}

td {
  text-align: center;
}

.personal-table {
  border-bottom: 2px solid red;
  border-collapse: collapse;
}
.personal-table tr {
  height: 100px;
  vertical-align: center;
}
.personal-table td,
.personal-details th {
  border: 2px solid red;
}

.inline-block {
  display: block;
}

.relative-position {
  /* position: relative; */
  top: 100px;
  left: 30px;
}

.absolute-position {
  /* position: absolute; */
  top: 100px;
}
.fixed-position {
  position: fixed;
  top: 100px;
}
.header {
  width: 100%;
  height: 80px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 30px;
  position: fixed;
  top: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: blue;
  color: white;
  text-align: center;
  width: 100%;
}

.box1 {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 100px;
  background-color: green;
  z-index: 2;
}

.box2 {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 150px;
  background-color: blue;
  z-index: 4;
}

.description {
  height: 200px;
  background-color: antiquewhite;
  border: 2px solid red;
  overflow: auto;
  margin-bottom: 100px;
}

.description:hover {
  background-color: aqua;
}

.float-demo {
  float: right;
}

p:last-child {
  color: darkolivegreen;
}

input {
  width: 20%;
  padding: 10px;
  margin: 10px;
  border: 3px solid red;
}
input[type="text"] {
  background-color: bisque;
  transition: width 0.5 ease-in-out;
}
input[type="password"] {
  background-color: bisque;
}
input:focus {
  background-color: aquamarine !important;
  width: 80%;
}
input:focus {
  background-color: red;
}
